

._graniza {
    padding: 0px ;
}
.male__graniza {
    margin-bottom: 40px;
}

.male-card__body {
    .title-24 {
        text-align: center;
    }
}

.male-card__body .swiper-wrapper {
    margin-bottom: 20px;
    align-items:stretch;
}
.male-card__body .swiper-slide {
    display: flex;
    height: auto;
}