[class*=_container]{
	margin: 0px auto;
	max-width: 1340px;
	@media(min-width:767.98px){
        padding: 0px 30px;
    }
    padding: 0px 20px;
}
[class*=_graniza] {
    margin: 0px auto;
	max-width: 1014px;
	@media(min-width:767.98px){
        padding: 0px 30px;
    }
    padding: 0px 20px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	
}
.main{
	flex: 1 1 auto;
    @media(min-width:767.98px){
        margin-top: 141.19px;
    }
    margin-top: 80px;
}

.slider-card__body .swiper-wrapper {
    margin-bottom: 20px;
    align-items:stretch;
}
.slider-card__body .swiper-slide {
    display: flex;
    height: auto;
}


